# Compiled Object files
*.slo
*.lo
*.o
*~
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.elf
*.aout
.DS_Store

*.iso
*.img
*.bin
*.mod
*.map

*.log

lapis

.cproject
.project
.settings/

temp/
